

// <CsiButton>
// ---------------------------------------------------------------------------------------------------------------------
.csi-button

  &.disabled,
  &[disabled]
    background-color #c9cbcb !important
    color #000 !important
    border none
    box-shadow none

  &.focus,
  &:focus
    outline 3px solid #f3c716

  &.min-width
    min-width 200px


// <CsiButtons>
// ---------------------------------------------------------------------------------------------------------------------
.csi-buttons
  & > .csi-button:not(.q-btn-round)
    width 100%

@media (min-width $breakpoint-sm-min)
  .csi-buttons
    & > .csi-button:not(.q-btn-round)
      width: auto !important
