.csi-stepper-no-padding .q-stepper-step-inner
  padding 0

.csi-stepper-no-shadow,
.csi-stepper-no-shadow .q-stepper-header
  box-shadow none

.csi-stepper
  &-pa-md
    .q-stepper-step-inner
      padding: $spaces.md.x
