
.csi-uploader
  .q-uploader-files
    border-left 2px solid $teal
    border-right 0
    border-top 0
    border-bottom 0
    background-color $teal-1
    margin-top: $spaces.sm.y

  .q-uploader-file
    padding-right: $spaces.sm.x

    &:not(:last-child)
      border-bottom 1px solid $teal-2
