@require '~variables'

// HELPER CLASSES
// ---------------------------------------------------------------------------------------------------------------------
.csi-step-no-padding
  .q-stepper-step-inner
    padding 0

.emoji-icon
  color: transparent;
  background-color: $faded;
  background-clip: text;
  -webkit-background-clip: text;

.csi-icon--xs
  font-size $icon-size-xs

.csi-icon--sm
  font-size $icon-size-sm

.csi-icon--md
  font-size $icon-size-md

.csi-icon--lg
  font-size $icon-size-lg

.csi-icon--xl
  font-size $icon-size-xl

.csi-svg-icon--xs
  width: $icon-size-xs
  height: $icon-size-xs

.csi-svg-icon--sm
  width: $icon-size-sm
  height: $icon-size-sm

.csi-svg-icon--md
  width: $icon-size-md
  height: $icon-size-md

.csi-svg-icon--lg
  width: $icon-size-lg
  height: $icon-size-lg

.csi-svg-icon--xl
  width: $icon-size-xl
  height: $icon-size-xl

.csi-group-card > *:not(:first-of-type)
  margin-top: $spaces.md.y
